<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="Error Page for Github Stats" name="Description">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Error</title>
    <style>
    body {
            background-size: cover;
            background-image: url(error-page.jpg);
            background-repeat: no-repeat;
            height: 100vh;
            width: 100%;
        }



    </style>
</head>
<body>
<h1 style="text-align: center;">Oops! Something Went Wrong...</h1>
<br>
<br>
<br>
<p style="text-align: center;">
    <font style="font-size: 20px;">
        <b>The URL entered by you: </b>
        <u>
            <a style="color: #0000EE" th:text="${gitUrl}"></a>
        </u>
        <b>is incorrect.</b>
        <br/>
        Verify the url - Visit the corresponding Github repository and Try again once.
        <br/>
        For Going to Home Page
        <a href='/'>Click Here</a>
    </font>
</p>
</body>
</html>