<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="Error Page for Github Stats" name="Description">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Error</title>
</head>
<body style="background-image:url(lionello-delpiccolo-aQNy0za7x0k-unsplash.jpg);
  background-size: cover; ">
<h1 style="text-align: center;">Error Occurred...</h1>
<br>
<br>
<br>
<p style="text-align: center;">
    <b>The URL entered by you is incorrect.</b>
    <br/>
    Please Check the url entered by you.
    <br/>
    Visit the github repository and try again once.
    <br/>
    For Going to Home Page
    <a href='/'>Click Here</a>
</p>
</body>
</html>