<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="Error Page for Github Stats" name="Description">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Error</title>

    <style>
    body {
            background-size: auto;
            background-image: url(error-page.jpg);
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
<h1 style="text-align: center;">Oops! Something Went Wrong...</h1>
<br>
<br>
<br>
<p style="text-align: center;">
    <font style="font-size: 20px;">
        <b>The URL entered by you is incorrect.</b>
        <br/>
        Please Check the url entered by you.
        <br/>
        Visit the github repository and try again once.
        <br/>
        For Going to Home Page
        <a href='/'>Click Here</a>
    </font>
</p>
</body>
</html>