<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="Home Page for Github Stats" name="Description">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Stats | Public Github Repository</title>
    <style>
        body {
            background-size: cover;
            background-image: url(home-page.jpg);
            background-repeat: no-repeat;
            height: 100vh;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="textContainer H1" style="cursor: text; padding-top: 100px; padding-bottom: 0px; line-height: 50px;">
    <h1 style="line-height: 50px;">
        <div style="text-align: center; color: white">
            <font face="Grand Hotel" style="font-size: 48px;">
                <i>Now you can get Github Stats For Public Repositories...</i></font>
        </div>
    </h1>
</div>
<br><br>
<br><br>
<br><br>
<div class="textContainer H2" style="cursor: text; padding-bottom: 20px;">
    <h2>
        <div style="text-align: center; color: white">
            <font face="Petit Formal Script" style="font-size: 30px;">
                <b>Let's get the Github Stats for any Github Repository you want to...</b>
            </font>
        </div>
    </h2>
</div>

<form action="/open-issues" method="get" style="text-align:center;">
    <input name="gitRepoUrl"
           placeholder="Enter the Github Repository Url here... Example: https://github.com/atom/language-shellscript"
           required style="width: 30%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;" type="text"/>
    <br>
    <input style="-webkit-appearance: none; height: 30px; " type="submit" value="Click here to get Open Issues Stats"/>
</form>
</body>
</html>